body, html {
    margin: 0px;
    padding: 0px;
}
.App {
 margin: 20px;
 margin-top:5px;
 box-shadow: darkblue;
 border: 2px solid green;
 padding: 20px 20px; 
}

.todolist {
    padding: 16px;
    margin: 20px;
}

.todo {
    margin: 5px;
    padding: 10px;
    background-color: darkgreen;
    color: bisque;
    font-size: 25px;
    
}

.dot {
    display: inline;
}

.completebtn {
    margin: 5px;
    padding: 5px;
    width: 20px;
    height: 20px;
    /* vertical-align: middle; */
    display: inline-flex;
    float: right;
    border: 2px solid black;
}

.button {
    border: none;
    font-family: fantasy;
    font-weight: bolder;
    font-size: large;
    background-color: black;
    color: bisque;
    padding:15px;
}

.addtask {
    border: none;
}

.check {
     
    size: 30px;
}